header
 .logo earthist
 .navi-wrap
  a.navi(href='/') HOME
  a.navi(href='/board') BOARD
  a.navi(href='/gallery') GALLERY
  span.mx-3 |
  a.navi(href='/user/join') join
  a.navi(href='/user/login') login
  a.navi(href='/user/logout') logout